<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>Сбросить пароль</label>
<form method="post">
    <input type="password" placeholder="Новый пароль" name="password_field1" id="id_password_field1"><br>
    <input type="password" placeholder="Потвердите пароль" name="password_field2" id="id_password_field2">
    <input type="submit" id="sub" value="Сбросить пароль">
</form>
<script>
    const sub = document.getElementById('sub')
    const passValue = document.getElementById('id_password_field1');
    const passValue2 = document.getElementById('id_password_field2');
    const mail = sessionStorage.getItem("mail")



    if (mail){
    sub.addEventListener('click', (e) => {
        e.preventDefault()
        if (passValue.value && passValue2.value){
        handlePost()
        }
    })}
    else {
        window.location.href='/index.html'
    }

    const handlePost = () => {
         fetch('http://127.0.0.1:8000/reset/confirm/change/', {
        method : 'POST',
        headers : {
            'Content-Type': 'application/json'
        },
        body : JSON.stringify({
            mail : mail,
            password_field1 : passValue.value,
            password_field2 : passValue2.value,
        })
      })
        .then(res => {
            if (res.ok){
                sessionStorage.removeItem('mail')
                window.location.href='/index.html'
            }
            else if(res.status === 302){
                return res.json().then(data => {
                    alert(data['msg'])
                })
            }
        })
     }
</script>
</body>
</html>