<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>Сброс пароля</label>
<form method="post">
    <input type="email" placeholder="Логин" name="email_field" id="id_email_field"><br>
    <input type="submit" id="sub"  value="Отправить">
</form>
<script>
    const sub = document.getElementById('sub')
    const login = document.getElementById('id_email_field')
    sub.addEventListener('click', (e) => {
           e.preventDefault()
        if (login.value){
            handlePost()
        }
    })

    const handlePost = () => {
         fetch('http://127.0.0.1:8000/reset/', {
        method : 'POST',
        headers : {
            'Content-Type': 'application/json'
        },
        body : JSON.stringify({
            email_field : login.value,
        })
      })
        .then(res => {
            if (res.ok){
                return res.json().then(data => {
                    sessionStorage.setItem('mail', data['token'])
                    window.location.href='/confirm_mail.html'
                })

            }
            else if(res.status === 302){
                return res.json().then(data => {
                    alert(data['msg'])
                })
            }
        })

     }

</script>
</body>
</html>